@model CoreLayout.Models.Masters.ButtonModel
@{
    ViewData["Title"] = "Details";
}
<body >
    <div style="padding: 30px 30px 30px 30px">
        <h2 class="text-info">Button Details</h2>
        <form asp-action="Details" method="post">
            <div class="pd-4 rounded border">
                <input type="hidden" asp-for="ButtonId" />
                <div asp-validation-summary="ModelOnly" class="text-danger">

                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="ButtonName"> </label>
                    </div>
                    <div class="col-5">
                        <input asp-for="ButtonName" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="ButtonName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.ButtonId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    </body>

