@model CoreLayout.Models.UserManagement.ParentMenuModel
@{
    ViewData["Title"] = "Details";
}

    <body style="padding: 30px 30px 30px 30px">
        <div style ="padding: 30px 30px 30px 30px">
        <h2 class="text-info">Parent Menu Details</h2>
        <form asp-action="Details" method="post">
            <div class="pd-4 rounded border">
                <input type="hidden" asp-for="ParentMenuId" />
                <div asp-validation-summary="ModelOnly" class="text-danger">

                </div>
                @*<div class="form-group row">
                        <div class="col-2">
                            <label asp-for="CountryName"> </label>
                        </div>
                        <div class="col-5">
                            <input asp-for="CountryName" readonly="readonly" class="form-control" />
                        </div>
                        <span asp-validation-for="CountryName" class="text-danger"></span>
                    </div>*@
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="ParentMenuName"> </label>
                    </div>
                    <div class="col-5">
                        <input asp-for="ParentMenuName" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="ParentMenuName" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="SortBy"> </label>
                    </div>
                    <div class="col-5">
                        <input asp-for="SortBy" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="SortBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.ParentMenuId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </form>
        </div>
    </body>


