@model CoreLayout.Models.UserManagement.ParentMenuModel
@{
    ViewData["Title"] = "Edit";
}
<body >
    <div style="padding: 30px 30px 30px 30px">
        <h2 class="text-info">Edit Parent Menu</h2>
        <form asp-action="Edit" method="post">
            <div class="pd-4 rounded border">
                <input type="hidden" asp-for="ParentMenuId" />
                <div asp-validation-summary="ModelOnly" class="text-danger">

                </div>
                @*<div class="form-group row">
                    <div class="col-2">
                        <label asp-for="CountryId"> </label>
                    </div>
                    <div class="col-5">
                        <select asp-for="CountryId"
                                class="form-control"
                                asp-items="@(new SelectList(ViewBag.countryList,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>

                </div>*@
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="ParentMenuName"> </label>
                    </div>
                    <div class="col-5">
                        <input asp-for="ParentMenuName" class="form-control" />
                        <span asp-validation-for="ParentMenuName" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="SortBy"> </label>
                    </div>
                    <div class="col-5">
                        <input asp-for="SortBy" class="form-control" />
                        <span asp-validation-for="SortBy" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" asp-route-id="@Model.ParentMenuId" class="btn btn-primary" value="Update" />
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    </body>
