@model CoreLayout.Models.UserManagement.RegistrationRoleMapping
@{
    ViewData["Title"] = "Edit";
}
<body>
    <div style="padding: 30px 30px 30px 30px">
        <h2 class="text-info">Edit Role Assign</h2>
        <form asp-action="Edit" method="post">
            <div class="pd-4 rounded border">
                <input type="hidden" asp-for="UserRoleId" />
                <div asp-validation-summary="ModelOnly" class="text-danger">

                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="UserName"> </label>
                    </div>
                    <div class="col-5">
                        <select asp-for="RoleUserId"
                                class="form-control"
                                asp-items="@(new SelectList(ViewBag.UserList,"Value", "Text"))">
                        </select>

                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="RoleName"> </label>
                    </div>
                    <div class="col-5">
                        <select asp-for="RoleId"
                                class="form-control"
                                asp-items="@(new SelectList(ViewBag.RoleList,"Value", "Text"))">
                        </select>

                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="IsRoleActive"> </label>
                    </div>
                    <div class="col-5">
                        @Html.DropDownList("IsRoleActive", new List<SelectListItem>
                        {
                             new SelectListItem{ Text="----Select----", Value = string.Empty },
                             new SelectListItem{ Text="Active", Value = "1" },
                             new SelectListItem{ Text="InActive", Value = "0" },
                            
                        },
                        new { @class = "form-control" })

                        <span asp-validation-for="IsRoleActive" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" asp-route-id="@Model.UserRoleId" class="btn btn-primary" value="Update" />
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </form>
        </div>
</body>
